body {
    display: flex;
    flex-direction: row-reverse;
    background: lightgray;
}

:root {
    --primary-main: #252d65;
    --primary-dark: #19204e;
    --primary-light: #a3c9eb;
    --secondary-main: #f3931b;
    --secondary-light: #FFA000;
    --main-width: 400px;
    --main-border-width: 5px;
    --chat-height: 300px;
    --header-height: 40px;
    --box-item-height: 30px;
}

@keyframes fade-in {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

@keyframes hopen {
    from { width: var(--hopen-from); }
    to { width: var(--hopen-to); }
}

@keyframes vopen {
    from { height: var(--vopen-from); }
    to { height: var(--vopen-to); }
}

* {
    font-family: 'Cairo', sans-serif;
    color: white;
    font-size: 14pt;

    overflow: hidden;
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    width: var(--main-width);
    height: 100%;
    padding: 10px;
}

.box-container {
    height: fit-content;
    margin-bottom: 10px;

    border: solid var(--main-border-width) var(--secondary-main);
}

.box-content {
    background: black;
    padding: 5px;

    border-top: solid 1px var(--secondary-main);

    /* animation-name: vopen; 
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    --vopen-from: 0px;
    --vopen-to: 50px; */
}

.box-content p {
    display: flex;
    padding: 0 5px;

    font-family: 'Cairo', sans-serif;
    color: white;
    font-size: 18pt;
    line-height: var(--box-item-height);
}

.box-content p.now {
    background: var(--secondary-light);
    color: black;
    border-radius: calc(var(--box-item-height) / 4)
}

.box-content p span {
    margin-left: auto;
    text-align: center;
}

.box-content p.now span {
    color: black;
}

.box-content p.separator {
    padding: 0;
    margin-top: 10px;
    color: var(--secondary-light);
    font-size: 10pt;
    line-height: calc(var(--box-item-height) / 2);
}

.box-content p.separator:before, .box-content p.separator:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    margin: auto 10px;
    border-top: solid 1px var(--secondary-light);
}

.chat-box {
    height: var(--chat-height);
}

.header-container {
    width: 100%;
    height: var(--header-height);
    overflow: hidden;

    background: var(--primary-main);
}

.header-content {
    height: 100%;
    width: min-content;
    margin: 0 auto;

    display: flex;
    justify-content: center;
}

.header-content h1 {
    height: var(--header-height);
    margin: auto;
    overflow: hidden;

    background: var(--primary-dark);
    color: white;
    font-size: 22pt;
    line-height: var(--header-height);
    text-align: center;

    animation-name: hopen;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    --hopen-from: 25px;
    --hopen-to: calc(var(--main-width) - 2 * var(--main-border-width) - 2 * var(--header-height));
}

.arrow-outer {
    width: min-content;
    height: min-content;
    border: none 10px var(--primary-light);
    border-top-style: solid;
    border-right-style: solid;
}

.arrow-middle {
    width: min-content;
    height: min-content;
    border: none 10px var(--primary-main);
    border-top-style: solid;
    border-right-style: solid;
}

.arrow-inner {
    width: 40px;
    height: 40px;
    border: none 10px var(--secondary-main);
    border-top-style: solid;
    border-right-style: solid;
}

.arrow-left {
    transform: translate(0, -10px) rotate(45deg);
    transform-origin: center;
    margin: 0 -15px;
}

.arrow-right {
    transform: translate(0, -20px) rotate(-135deg);
    transform-origin: center;
    margin: 0 -15px;
}