/* LOCAL ONLY - Do not copy to StreamElements widget */
body {
    display: flex;
    flex-direction: row-reverse;
    background: lightgray;
}

/* WIDGET - Copy to StreamElements widget from here */
:root {
    --primary-main: #252d65;
    --primary-dark: #13183b;
    --primary-light: #a3c9eb;
    --secondary-main: #f3931b;
    --secondary-light: #FFA000;
    --background-main: #101010;
    --main-width: 400px;
    --main-border-width: 5px;
    --arrow-border-width: 10px;
    --chat-height: 300px;
    --header-height: 40px;
    --box-item-height: 30px;
    --spacing-1: 5px;
    --spacing-2: 10px;
}

@keyframes fade-in {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

@keyframes hopen {
    from { width: var(--hopen-from); }
    to { width: var(--hopen-to); }
}

@keyframes vopen {
    from { height: var(--vopen-from); }
    to { height: var(--vopen-to); }
}

* {
    font-family: 'Cairo', sans-serif;
    color: white;
    font-size: 14pt;

    overflow: hidden;
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    width: var(--main-width);
    height: 100%;
    padding: var(--spacing-2);
}

.box-container {
    height: fit-content;
    margin-bottom: var(--spacing-2);

    border: solid var(--main-border-width) var(--secondary-main);
}

.box-content {
    background: var(--background-main);
    padding: var(--spacing-2) var(--spacing-1);

    border-top: solid 1px var(--secondary-main);
}

.box-content.chat {
    height: var(--chat-height);
  	padding: 0;
    background: transparent;
}

.box-content p {
    display: flex;
    padding: 0 var(--spacing-1);

    font-family: 'Cairo', sans-serif;
    color: white;
    font-size: 18pt;
    line-height: var(--box-item-height);
}

.box-content p:not(:last-child) {
    margin-bottom: var(--spacing-1);
}

.box-content p span {
    margin-left: auto;
    text-align: center;
}

.box-content p.highlight {
    background: var(--secondary-light);
    color: black;
    border-radius: calc(var(--box-item-height) / 4)
}

.box-content p.highlight span {
    color: black;
}

.box-content p.separator {
    padding: 0;
    margin-top: 10px;
    color: var(--secondary-light);
    font-size: 10pt;
    line-height: calc(var(--box-item-height) / 2);
    white-space: nowrap;
}

.box-content p.separator:before, .box-content p.separator:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    margin: auto var(--spacing-2);
    border-top: solid 1px var(--secondary-light);
}

.header-container {
    width: 100%;
    height: var(--header-height);
    overflow: hidden;

    background: var(--primary-main);
}

.header-content {
    height: 100%;
    width: min-content;
    margin: 0 auto;

    display: flex;
    justify-content: center;
}

.header-content h1 {
    height: var(--header-height);
    margin: auto;
    overflow: hidden;

    background: var(--primary-dark);
    color: white;
    font-size: 22pt;
    line-height: var(--header-height);
    text-align: center;

    animation-name: hopen, fade-in;
    animation-duration: 0.8s, 0.5s;
    animation-fill-mode: both, both;
    animation-timing-function: cubic-bezier(0, 0, 0.25, 1.0);
    --hopen-from: var(--header-height);
    --hopen-to: calc(var(--main-width) - 2 * var(--main-border-width) - 2 * var(--header-height));
}

.arrow-outer {
    width: min-content;
    height: min-content;
    border: none var(--arrow-border-width) var(--primary-light);
    border-top-style: solid;
    border-right-style: solid;
    z-index: 1;
}

.arrow-middle {
    width: min-content;
    height: min-content;
    border: none var(--arrow-border-width) var(--primary-main);
    border-top-style: solid;
    border-right-style: solid;
}

.arrow-inner {
    width: var(--header-height);
    height: var(--header-height);
    border: none var(--arrow-border-width) var(--secondary-main);
    border-top-style: solid;
    border-right-style: solid;
}

.arrow-left {
    transform: translate(0, calc(-1 * var(--arrow-border-width))) rotate(45deg);
    transform-origin: center;
    margin: 0 -15px;
}

.arrow-right {
    transform: translate(0, calc(-2 * var(--arrow-border-width))) rotate(-135deg);
    transform-origin: center;
    margin: 0 -15px;
}